.color1 {
  color: #6deb54;
}

.color2 {
  color: #d577d9;
}

body {
  background-color: #efd3f0;
}

header {

  background-color: white;
  padding: 0 5vw;
}

#logo {
  width: 80px;
  margin: 5px 43vw 5px 5vw;;
  display: flex;
  position: relative;
  z-index: 2;
}

#logo img {
  width: 80px;
}

.nav-item .nav-link {
  color: #6deb54 !important; /*Brand color1*/
}

.nav-item.active .nav-link {
  color: #ea93ed !important; /*Brand color2*/
}

content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sigmar One', cursive;
  text-align: center;
}

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 100%;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
}

.banner h1 {
  text-align: left;
  width: 50%;
  font-size: 8vw;
  position: absolute;
  -webkit-text-stroke: 1px black;
  display: flex;
  align-items: flex-end;
  height: 56vw;
  padding: 2vw 3vw;
}

.call-to-action {
  display: block;
  font-size: 10vw;
  max-width: 80vw;
  width: 100%;
}

.call-to-action a {
  display: block;
  width: 100%;
  background-color: #fee8ff;
  padding: 10px;
}

.call-to-action a:hover {
  color: #a1f590;
  background-color: #ea93ed;
  text-decoration: none;
  width: 100%;
}

footer {
  width: 100%;
  padding: 20px 10vw;
  background-color: white;
  color: #6deb54; /*Brand color1*/
  display: flex;
  justify-content: space-between;
}

footer a, footer a:hover {
  color: inherit;
}

h3 {
  margin: 20px;
}

.review {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px lightgray;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
}

.review:hover {
  background-color: #d5f5ce;
}

.review-person {
  margin: 0 5px;
}

.review-text {
  margin: 0 0 0 15px;
  font-weight: 900;
  color: #d577d9;
  font-size: 130%;
  max-width: 400px;
}

.review-person img {
  width: 150px;
  border-radius: 100%;
}

.review-person p {
  text-align: center;
  color: #6bb55b;
  margin-top: 5px;
}

@media (min-width: 992px) {

  content {
    padding: 0 10vw;
  }

  .banner {
    max-height: 60vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    overflow: hidden;
  }

  .banner img {
    height: 100%;
  }

  .banner h1 {
    font-size: 65px;
  }

  .call-to-action {
    width: 60vw;
  }

  .call-to-action a {
    font-size: 50%;
    margin: 0 25px;
    background-color: white;
    border: solid 1px #d577d9;
  }

  .reviews {
    display: flex;
    margin: 0 15px;
  }

}
